/* adult_number */

.wrapper-adult {
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px;
  border: 1px solid rgb(145, 140, 140);
}

.wrapper-adult span {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}

.wrapper-adult span.num {
  font-size: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}


/* end adult_number */

.label {
  color: black;
}


/* CSS for the profile view template */

.profile-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  background-color: #fff;
}

.cover-image {
  width: 100%;
  height: 130px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.cover-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-end;
}

.profile-menu {
  display: flex;
  margin: 0 20px;
}

.profile-menu-item {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.2s;
}

.profile-menu-item:hover {
  color: #eee;
}

.profile-view-header {
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 99px;
}

.avatar-container {
  position: relative;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.name {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
  color: #777;
  text-transform: uppercase;
}

.location {
  font-size: 14px;
  color: #777;
  margin: 10px 0 0;
  position: fixed;
}

.profile-view-body {
  margin-top: 100px;
}

.bio-container {
  margin-bottom: 20px;
}

.bio-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.bio {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0 0;
}

.contact-info-container {
  width: 300px;
  margin-bottom: 20px;
}

.contact-info-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.contact-info {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}


/* Add some styling for the table container */

.table-container {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}


/* Add some styling for the table cells */

.table-container td,
.table-container th {
  border: 1px solid #ccc;
  padding: 10px;
}


/* Add some styling for the table headings */

.table-container th {
  background-color: #00b8d4;
  color: #fff;
  font-weight: bold;
}


/* Add some styling for the table rows */

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}


/* Add some styling for the table cells with data */

.table-container td {
  font-weight: bold;
  text-align: center;
}


/* ===================== */

a {
  color: #4390fc;
}

a:hover,
a:focus {
  color: #4390fc;
}

.container {
  margin: 5% 3%;
}

@media (min-width: 48em) {
  .container {
    margin: 2%;
  }
}

@media (min-width: 75em) {
  .container {
    margin: 2em auto;
    max-width: 75em;
  }
}

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
}

@media (min-width: 48em) {
  .responsive-table {
    font-size: 0.9em;
  }
}

@media (min-width: 62em) {
  .responsive-table {
    font-size: 1em;
  }
}

.responsive-table thead {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (min-width: 48em) {
  .responsive-table thead {
    position: relative;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
  }
}

.responsive-table thead th {
  background-color: #4390fc;
  border: 1px solid #4390fc;
  font-weight: normal;
  text-align: center;
  color: white;
}

.responsive-table thead th:first-of-type {
  text-align: left;
}

.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
  display: block;
  padding: 0;
  text-align: left;
  white-space: normal;
}

@media (min-width: 48em) {
  .responsive-table tr {
    display: table-row;
  }
}

.responsive-table th,
.responsive-table td {
  padding: 0.5em;
  vertical-align: middle;
}

@media (min-width: 30em) {

  .responsive-table th,
  .responsive-table td {
    padding: 0.75em 0.5em;
  }
}

@media (min-width: 48em) {

  .responsive-table th,
  .responsive-table td {
    display: table-cell;
    padding: 0.5em;
  }
}

@media (min-width: 62em) {

  .responsive-table th,
  .responsive-table td {
    padding: 0.75em 0.5em;
  }
}

@media (min-width: 75em) {

  .responsive-table th,
  .responsive-table td {
    padding: 0.75em;
  }
}

.responsive-table caption {
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 48em) {
  .responsive-table caption {
    font-size: 1.5em;
  }
}

.responsive-table tfoot {
  font-size: 0.8em;
  font-style: italic;
}

@media (min-width: 62em) {
  .responsive-table tfoot {
    font-size: 0.9em;
  }
}

@media (min-width: 48em) {
  .responsive-table tbody {
    display: table-row-group;
  }
}

.responsive-table tbody tr {
  margin-bottom: 1em;
}

@media (min-width: 48em) {
  .responsive-table tbody tr {
    display: table-row;
    border-width: 1px;
  }
}

.responsive-table tbody tr:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .responsive-table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.responsive-table tbody th[scope="row"] {
  background-color: #4390fc;
  color: white;
}

@media (min-width: 30em) {
  .responsive-table tbody th[scope="row"] {
    border-left: 1px solid #ECF0F4;
    border-bottom: 1px solid #ECF0F4;
  }
}

@media (min-width: 48em) {
  .responsive-table tbody th[scope="row"] {
    background-color: transparent;
    color: #000001;
    text-align: left;
  }
}

.responsive-table tbody td {
  text-align: right;
}

@media (min-width: 48em) {
  .responsive-table tbody td {
    border-left: 1px solid #ECF0F4;
    border-bottom: 1px solid #ECF0F4;
    text-align: center;
  }
}

@media (min-width: 48em) {
  .responsive-table tbody td:last-of-type {
    border-right: 1px solid #ECF0F4;
  }
}

.responsive-table tbody td[data-type="currency"] {
  text-align: right;
}

.responsive-table tbody td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.54);
}

@media (min-width: 30em) {
  .responsive-table tbody td[data-title]:before {
    font-size: 0.9em;
  }
}

@media (min-width: 48em) {
  .responsive-table tbody td[data-title]:before {
    content: none;
  }
}


/* ===================== */
