.chart {
  display: flex;
  align-items: flex-end;
}

.bar {
  width: 20px;
  margin-right: 10px;
  background-color: blue;
  transition: height 0.5s;
}

.app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.portrait.v-card {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e9e9e9;
}

td,
th {
  text-align: left;
  padding: 8px;
  border: 1px solid #e9e9e9;
}

tr:nth-child(even) {
  background-color: #e9e9e9;
}

.fc-license-message {
  display: none !important;
}

.bg-background {
  background-color: #34444c !important;
}

.bg-background th,
td {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.element {
  height: 82px;
  width: 100%;
  margin: 0 auto;
  background-color: lime;
  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.8);
    background-color: orange;
  }

  50% {
    background-color: orange;
  }

  100% {
    transform: scale(1);
    background-color: orange;
  }
}
