 
 
 
 .card{
    word-wrap:break-word;
    background-clip:border-box;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem;
    display:flex;
    flex-direction:column;
    min-width:0;
}
 .card-title{
    margin-bottom:.5rem;
    font-size: 16px;
}
 
  
 .card{
    background:#fff;
    border:1px solid #f2f4f9;
    border-radius:10px;
    box-shadow:0 0 10px 0 rgba(183,192,206,.2);
    -webkit-box-shadow:0 0 10px 0 rgba(183,192,206,.2);
    margin-bottom:24px;
    min-height:50px;
    position:relative;
}
 .card .card-statistic-3{
    border-radius:3px;
    color:#fff;
    overflow:hidden;
    padding:15px;
    position:relative;
}
 .card .card-statistic-3 .card-icon-large{
    font-size:110px;
    height:50px;
    text-shadow:3px 7px rgba(0,0,0,.3);
    width:110px;
}
 .card .card-statistic-3 .card-icon{
    color:#000;
    line-height:50px;
    margin-left:15px;
    opacity:.1;
    position:absolute;
    right:-5px;
    text-align:center;
    top:20px;
}
 .card .card-statistic-3 .card-content .data-1{
    font-size:25px;
    font-weight:600;
}
 